rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to rooms and subcollections for WebRTC signaling
    match /rooms/{roomId} {
      allow read, write: if true;
      
      match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }
  }
}
